<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Login</title>
</head>
<body>
<h2>LOGIN:</h2>
<form action="login" method="get">
    <pre>
        Username:<input type="text" name="email"/>
        Password:<input type="password"name="password"/>
        <input type="submit"value="sign in">
    </pre>
</form>
<a href="/showForgotPassword">Forgot Password</a>
<p>Not a User. Register here.</p><br>
<a href="/showRegSeller">Register as seller</a>&nbsp;
<a href="/showRegCustomer">Register as Customer</a>
</body>
</html>
